@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animate-blob {
    animation: blob 7s infinite;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
  .animate-shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  }
  @keyframes shake {
    10% { transform: translate3d(-1px, 0, 0); }
    90% { transform: translate3d(-1px, 0, 0); }
    20% { transform: translate3d(2px, 0, 0); }
    80% { transform: translate3d(2px, 0, 0); }
    30% { transform: translate3d(-4px, 0, 0); }
    50% { transform: translate3d(-4px, 0, 0); }
    70% { transform: translate3d(-4px, 0, 0); }
    40% { transform: translate3d(4px, 0, 0); }
    60% { transform: translate3d(4px, 0, 0); }
  }
}
