apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-ingress-nginx
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app.kubernetes.io/component: ingress
    app.kubernetes.io/part-of: spring-k8s-gitops
spec:
  project: default
  source:
    repoURL: https://github.com/ouznoreyni/spring-k8s-gitops.git
    targetRevision: HEAD
    path: k8s/charts/ingress-nginx
    helm:
      releaseName: ingress-nginx
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
