apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/part-of: spring-k8s-gitops
spec:
  project: default
  source:
    repoURL: https://github.com/ouznoreyni/spring-k8s-gitops.git
    targetRevision: HEAD
    path: k8s/charts/prometheus
    helm:
      releaseName: monitoring-stack
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
